body, html {
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#content{
    border-width: 2px;
    border-style: solid;
}
.btnClose{
    height: 30px;
}
ul{
    list-style: none;
}
ul li{
    text-align: left;
}

table thead th{
    text-align: center;
    border: 1px solid black !important;
}
table tbody tr td:first-child{
    text-align: center;
    min-width: 30px;
    padding: 0 !important;
}
.card{
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 3px 3px -2px rgb(0 0 0 / 20%), 0 3px 4px 0 rgb(0 0 0 / 14%), 0 1px 8px 0 rgb(0 0 0 / 12%);
}
p{
    margin-bottom: 0;
}
img{
    /* margin-left: 60px; */
    display: flex;
    /* margin: 10px auto; */
}
img.w-img{
    width: 90% !important;
}
.pages{
    margin: 10px 0 10px 10px;
}
.table-two tr{
    min-height: 49px;
    height: 49px;
}
.table-two tr td:first-child{
    border-left: none !important;
}
.table-two {
    border-left: none !important;
}
table{
    border: 1px solid;
}
table td{
    border: 1px solid black !important;
    padding: 0.5rem;
    vertical-align:middle !important;
}
.type-dash{
    list-style: none;
}
.type-dash li::before{
    content: "-";
    display: inline-block;
    margin-right: 10px;
}
.table-list td:nth-child(2),.table-list td:nth-child(4){
    width: 45% !important;
    border-top: none !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.table-list td:nth-child(1),.table-list td:nth-child(3){
    width: 5% !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table-list tr:last-child td{
    border-bottom: none !important;
}
.table-list tr td:last-child{
    border-right: none !important;
}
.table-list tbody{
    width: 100%;
}
.table-list tr{
    width: 100%;
    display: flex;
    align-self: stretch;
}
.content-item{
    padding-left: 30px;
}
.core-category .content-item{
    margin-left: 30px;
}
.notfound{
    height: calc(100vh - 58px);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.notfound a{
    margin-top: 40px;
    width: 250px;
    display: inline-block;
    text-align: center;
    padding: .5rem 1rem;
    color: #ffffff;
    transition: background-color .2s;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}
.notfound a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none !important;
}
@media (max-width: 992px){
    .table-list td:nth-child(2),.table-list td:nth-child(4){
        width: 90% !important;
        border-top: none !important;
        display: flex;
        align-items: center;
    }
    .table-list td:nth-child(1),.table-list td:nth-child(3){
        width: 10% !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}