.button_menu {
    white-space: nowrap;
    background-color: transparent;
    border: none;
    color: #000 !important;
    padding: 6px 10px 6px 20px;
    text-align: left;
    text-decoration: none;
    display: block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 0px;
}
.button_menu_open {
    white-space: nowrap;
    padding: 6px 10px 6px 20px;
    text-align: left;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #000 !important;
}
.button_menu:hover {
    color: #000 !important;
}
