<section class="service">
    <div class="tabs-service position-relative">
        <div class="tabs position-absolute w-1-2">
            <nav class=" flex flex-col sm:flex-row w-100 h-100">
                <button data-target="panel-1" class="tab active md:w-1-2 w-100 swiper-slide flex justify-center items-center font-bold text-white">What we do?</button>
                <button data-target="panel-2" class="tab md:w-1-2 w-100 swiper-slide flex justify-center items-center font-bold text-white">Approach</button>
            </nav>
        </div>

        <div id="panels">
            <div class="panel-1 tab-content active ">
                <div class="banner h-screen bg-cover" >
                    <div class="bg-content h-full w-full flex flex-column justify-center px-150px">
                        <h1 class="text-70px font-bold text-white">WHAT WE DO?</h1>
                        <div class="w-90px h-2px bg-orange-1"></div>
                    </div>
                </div>
                <div class="flex flex-wrap">
                    <div class="md:w-1-2 w-full flex flex-column items-center justify-between pt-90px pb-50px px-90px">
                        <div class="item">
                            <h4 class="font-bold ">1. ARCHITECTURE CONSULTING</h4>
                            <p class="mt-20px">Tại The Modern Touch/Phong Cách Mới, kiến trúc là một trong những nền tảng chính để biến thế giới thành nơi tốt đẹp hơn. Chúng tôi tin rằng thiết kế kiến trúc vượt bậc chính là sự kết hợp giữa công năng hiệu quả và vẻ đẹp trường tồn. Mỗi ngày, các kiến trúc sư pha trộn những kỹ năng thiết kế đặc biệt, khả năng quản lý dự án vượt trội và tầm nhìn sáng tạo để tạo ra các công trình đáp ứng từng nhu cầu riêng biệt của khách hàng; đồng thời tạo ra tác động kinh tế, xã hội và môi trường tích cực lâu dài.</p>
                        </div>
                        <div class="item">
                            <h4 class="font-bold ">2. INTERIOR DESIGN</h4>
                            <p class="mt-20px">Khi phát triển thiết kế nội thất, chúng tôi đảm bảo các chi tiết hoàn thiện bổ sung cho nhau, tạo ra các không gian lôi cuốn ánh nhìn và cảm xúc của người sử dụng. Thiết kế nội thất có một trọng tâm khác với kiến trúc bên ngoài, đó chính là chúng bổ sung cho nhau. Sự chuyển tiếp từ các vật liệu hoàn thiện nội thất cho phép chúng tôi phát triển nhiều ý tưởng táo bạo giao hòa và thấm nhuần cảm giác vui vẻ đầy cá tính.</p>
                        </div>
                        <div class="item">
                            <h4 class="font-bold ">3. PHÂN TÍCH & KHẢO SÁT MẶT BẰNG</h4>
                            <p class="mt-20px">Một mặt bằng tổng thể thành công được nhận định và chắt lọc từ những nghiên cứu phức tạp và tinh vi trong khuôn khổ văn hóa, xã hội, thể chất và kinh tế nhằm phát triển tổng thể dựa trên các bộ phận. Hơn nữa, mặt bằng tổng thể tuyệt vời tạo ra môi trường độc đáo, trong đó con người và thiên nhiên hòa hợp cùng nhau phát triển giữa bối cảnh thành thị hoặc nông thôn. Chúng tôi xem xét để đảm bảo rằng bất kỳ công trình hiện có nào đều sẽ được sử dụng hết tiềm năng. Khảo sát và phân tích giúp chúng tôi và khách hàng hiểu làm thế nào để sử dụng tốt nhất các cơ sở hiện có.</p>
                        </div>
                    </div>
                    <div class="md:w-1-2 w-full pb-200px" style="background: #F2F2F2;">
                        <div class="md:pl-150px mt-90px">
                            <img src="{{ img('service-1.jpg')}}" class="w-100 h-100">
                        </div>
                        <div class="flex flex-wrap mt-50px">
                            <div class="md:w-1-2 md:pl-50px">
                                <img src="{{ img('service-2.jpg')}}" class="w-100 h-100">
                            </div>
                            <div class="md:w-1-2 flex flex-wrap items-stretch md:pr-50px">
                                <img src="{{ img('service-3.jpg')}}" class="w-1-2 self-start">
                                <img src="{{ img('service-4.jpg')}}" class="w-1-2 self-end ">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-wrap px-90px my-70px">
                    <div class="item md:w-1-2 md:pr-90px">
                        <h4 class="font-bold ">4. CUNG CẤP NGUỒN NHÂN LỰC</h4>
                        <p class=" mt-20px">Chúng tôi cung cấp nhân sự chất lượng trong ngành kiến trúc nội thất - linh hoạt về thời gian, đảm bảo công việc thực hiện hiệu quả, giúp tiết kiệm chi phí, thời gian và nguồn lực cho các doanh nghiệp.</p>
                    </div>
                    <div class="item md:w-1-2 md:pr-90px">
                        <h4 class="font-bold ">5. QUẢN LÝ CHẤT LƯỢNG</h4>
                        <p class=" mt-20px">Chúng tôi kiểm tra chất lượng các mặt hàng theo quy trình và hệ thống chuẩn, đảm bảo đầy đủ các tiêu chí kiểm hàng, xử lý lỗi và đưa ra hướng giải quyết tốt nhất nhằm đáp ứng nhu cầu tối đa của khách hàng một cách hiệu quả.</p>
                    </div>
                </div>
            </div>
            <div class="panel-2 tab-content">
                <div class="banner h-screen bg-cover">
                    <div class="bg-content h-full w-full flex flex-column justify-center px-150px">
                        <h1 class="text-70px font-bold text-white">APPROACH</h1>
                        <div class="w-90px h-2px bg-orange-1"></div>
                    </div>
                </div>
                <div class="content-approach py-110px px-90px" style="background: #EDEDED;">
                    <div class="w-110px h-2px bg-orange-1 mb-110px ml-10px"></div>
                    <div class="items flex flex-wrap justify-between">
                        <div class="item w-1-3 position-relative">
                            <img src="{{ img('approach-1.jpg') }}" />
                            <div class="position-absolute flex items-center justify-center">
                                <p class="text-white text-16px text-center">TIÊN PHONG <br/>
                                    TRONG CÔNG NGHỆ</p>
                            </div>
                        </div>
                        <div class="item w-1-3 position-relative">
                            <img src="{{ img('approach-2.jpg') }}" />
                            <div class="position-absolute flex items-center justify-center">
                                <p class="text-white text-16px text-center">TẬN TÂM <br/>
                                TRONG TỪNG CÔNG TRÌNH</p>
                            </div>
                        </div>
                        <div class="item w-1-3 position-relative">
                            <img src="{{ img('approach-3.jpg') }}" />
                            <div class="position-absolute flex items-center justify-center">
                                <p class="text-white text-16px text-center">SỞ HỮU  <br/>
                                    TRANG THIẾT BỊ HIỆN ĐẠI</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<script>
    const tabs = document.querySelectorAll(".tabs");
    const tab = document.querySelectorAll(".tab");
    const panel = document.querySelectorAll(".tab-content");

    function onTabClick(event) {
    // deactivate existing active tabs and panel
        for (let i = 0; i < tab.length; i++) {
            tab[i].classList.remove("active");
        }

        for (let i = 0; i < panel.length; i++) {
            panel[i].classList.remove("active");
        }

        // activate new tabs and panel
        event.target.classList.add('active');
        let classString = event.target.getAttribute('data-target');
        console.log(classString);
        document.getElementById('panels').getElementsByClassName(classString)[0].classList.add("active");
    }

    for (let i = 0; i < tab.length; i++) {
        tab[i].addEventListener('click', onTabClick, false);
    }
  </script>