<section class="our-team">
    <div class="concept-team-body">
        <p class="title">Our Team</p>
        <ul class="team-lists d-flex flex-wrap">
            <li class="team-list col-md-4 px-0"> 
                <a href="#">
                    <img src="./assets/images/thumb/team-bh.png.webp" alt="B & H">
                </a>
            </li>
            <li class="team-list col-md-4 px-0"> 
                <a href="#">
                    <img src="./assets/images/thumb/team-canuch.png.webp" alt="CANUCH">
                </a>
            </li>
            <li class="team-list col-md-4 px-0"> 
                <a href="#">
                    <img src="./assets/images/thumb/team-rinn.png.webp" alt="RINN">
                </a>
            </li>
            <li class="team-list col-md-4 px-0"> 
                <a href="#">
                    <img src="./assets/images/thumb/team-youbi.png.webp" alt="YOU BI">
                </a>
            </li>
            <li class="team-list col-md-4 px-0"> 
                <a href="#">
                    <img src="./assets/images/thumb/team-miya.png.webp" alt="TEAM MIYA">
                </a>
            </li>
            <li class="team-list col-md-4 px-0"> 
                <a href="#">
                    <img src="./assets/images/thumb/team-gdn8.png.webp" alt="">
                </a>
            </li>
        </ul>
    </div>
    <div class="concept-team-img">
        <img src="./assets/images/thumb/concept-team.jpg.webp" alt="">
    </div>
</section>