<section class="products-concept bg-static">
    <div class="bg-move">The Meaning of Tradition</div>
    <div class="d-flex flex-wrap">
        <div class="content-image col-md-6 px-0">
            <img src="./assets/images/thumb/concept-intro.jpg.webp" alt="">
        </div>
        <div class="content-text col-md-6">
            <div class="d-flex justify-content-between">
                <div class="content">
                    <p class="theme">"The Meaning of<br/> Tradition"</p>
                    <p class="sub-theme">To live with nature</p>
                    <p class="text">
                        the MASS Series "SUMI LIMITED" was born as an attempt to deeply understand the tradition of "open buring" that supports the scenery of Aso.
                        A unique culture that lasts for a thousand years to maintain the magnificent nature.
                        The deep connection of people that the custom has created. 
                        You may be able to find clues to a "full life" in the memory of the landscape that nature and people have created over the years.
                    </p>
                </div>
                <div class="title">
                    <p>Products concept</p>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(window).on("load resize scroll", function() {
        $(".bg-static").each(function() {
            var windowTop = $(window).scrollTop();
            var elementTop = $(this).offset().top;
            var leftPosition = windowTop - elementTop ;
            $(this)
                .find(".bg-move")
                .css({ right: leftPosition });
        });
    });
</script>