<footer id="footer" >
    <div class="d-flex align-items-center">
        <div class="col-md-6 footer-left p-0">
            <div class="d-flex">
                <div class="px-0 ">
                    <svg class="svg-logo" version="1.1" viewBox="0 0 88 30">
                        <g>
                            <polygon id="f" points="-0.5,30 3.8,30 3.8,17.8 13.6,17.8 13.6,13.5 3.8,13.5 3.8,5.7 17.1,5.7 17.1,1.4 -0.5,1.4 -0.5,15.7 "/>
                            <polygon id="i" points="56.2,1.4 51.9,1.4 51.9,15.7 51.9,30 66.2,30 66.2,25.7 56.2,25.7 56.2,15.7 "/>
                            <polygon id="l" points="29.9,30 34.2,30 34.2,15.7 34.2,1.4 29.9,1.4 29.9,15.7 "/>
                            <polygon id="t" points="74.3,1.1 76,1.1 76,7.3 76.8,7.3 76.8,1.1 78.5,1.1 78.5,0.4 74.3,0.4 "/>
                            <polygon id="m" points="86.1,0 83.6,5.8 81.1,0 79.7,7.3 80.5,7.3 81.4,2.6 81.4,2.6 83.6,7.6 85.8,2.6 85.9,2.6 86.7,7.3 87.5,7.3 "/>
                        </g>
                    </svg>
                </div>
                <div class="d-flex footer-nav">
                    <ul class="footer-nav-lists px-0">
                        <li class="px-0">
                            <a href="#">Concept</a>
                        </li>
                        <li class="px-0">
                            <a href="#">Products</a>
                        </li>
                        <li class="px-0">
                            <a href="#">Story</a>
                        </li>
                    </ul>
                    <ul class="footer-contact-list px-0">
                        <li class="px-0">
                            <a href="#">Twitter</a>
                        </li>
                        <li class="px-0">
                            <a href="#">Facebook</a>
                        </li>
                        <li class="px-0">
                            <a href="#">Instagram</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 footer-right p-0">
            <div class="d-flex align-items-center justify-content-end">
                <small class="copyright">© 2020 FIL</small>
                <a href="#" >Brand Site</a>
            </div>
        </div>
    </div>
</footer>