<header id="header"> 
    <div class="header-inner d-flex align-content-center justify-content-between align-items-center">
        <h1 class="header-logo d-flex" > 
            <svg class="svg-logo" version="1.1" viewBox="0 0 88 30"> 
                <g> 
                    <polygon class="logo-f" points="-0.5,30 3.8,30 3.8,17.8 13.6,17.8 13.6,13.5 3.8,13.5 3.8,5.7 17.1,5.7 17.1,1.4 -0.5,1.4 -0.5,15.7 "></polygon> 
                    <polygon class="logo-i" points="56.2,1.4 51.9,1.4 51.9,15.7 51.9,30 66.2,30 66.2,25.7 56.2,25.7 56.2,15.7 "></polygon> 
                    <polygon class="logo-l" points="29.9,30 34.2,30 34.2,15.7 34.2,1.4 29.9,1.4 29.9,15.7 "></polygon> 
                    <polygon class="logo-t" points="74.3,1.1 76,1.1 76,7.3 76.8,7.3 76.8,1.1 78.5,1.1 78.5,0.4 74.3,0.4 "></polygon> 
                    <polygon class="logo-m" points="86.1,0 83.6,5.8 81.1,0 79.7,7.3 80.5,7.3 81.4,2.6 81.4,2.6 83.6,7.6 85.8,2.6 85.9,2.6 86.7,7.3 87.5,7.3 "></polygon> 
                </g> 
            </svg>
            <div class="header-logo-limited">SUMI LIMITED</div> 
            <a href="https://sumi.fillinglife.co/en" class="header-logo-link">FIL SUMI Limited</a>
        </h1>
        <nav class="header-nav">
            <ul class="header-nav-lists d-flex">
                <li class="header-nav-list" > 
                    <a href="./index.html" class="header-nav-link">Home</a>
                </li>
                <li class="header-nav-list" > 
                    <a href="./concept.html" class="header-nav-link">Concept</a>
                </li>
                <li class="header-nav-list" > 
                    <a href="./products.html" class="header-nav-link">Products</a>
                </li>
                <li class="header-nav-list" > 
                    <a href="https://sumi.fillinglife.co/en/story" class="header-nav-link">Story</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header-shadow" >
        <div class="header-shadow-body"></div>
    </div>
</header>
<div class="g-menu-btn">
    <div class="dots-wrap d-flex">
        <div class="dot-row _1">
            <div class="dot _1"><span ></span></div>
            <div class="dot _2"><span ></span></div>
            <div class="dot _3"><span ></span></div>
        </div>
        <div class="dot-row _2">
            <div class="dot _1"><span ></span></div>
            <div class="dot _2"><span ></span></div>
            <div class="dot _3"><span ></span></div>
        </div>
        <div class="dot-row _3">
            <div class="dot _1"><span ></span></div>
            <div class="dot _2"><span ></span></div>
            <div class="dot _3"><span ></span></div>
        </div>
    </div>
    <!-- <div class="menu-loading" > 
        <svg class="circular" viewBox="25 25 50 50"> 
            <circle class="path" cx="50" cy="50" r="24" style="transform-origin: 0px 0px;" data-svg-origin="26 26"> </circle>
        </svg>
    </div> -->
</div>