<section>
    <div class="flex flex-column justify-center items-center py-90px" style="background: #EDEDED;">
        <p class="text-14px">Stay in a loop, subcribe to our</p>
        <h3 class="text-36px text-orange-1 font-bold mt-10px mb-50px">NEWSLETTER</h3>
        <input type="text" class="w-1-3 border-b border-black bg-transparent h-40px text-center text-16px" placeholder="Your name" />
        <input type="email" class="w-1-3 border-b border-black bg-transparent h-40px text-center text-16px mt-40px" placeholder="Your email address" />
        <button type="button" class="px-30px py-10px mt-30px text-16px border border-black hover:border-orange-1 hover:bg-orange-1 hover:text-white">Send</button>
    </div>
</section>
<footer id="footer" class="py-150px">
    <div class="container d-flex flex-wrap mb-20px">
        <div class="col-md-4 col-12 pl-0">
            <h4 class="title mb-20px">Contact us</h4>
            <div class="headquarters text-14px mb-20px">
                <p>Trụ sở</p>
                <p>Số 21, ngách 71/466 Ngô Gia Tự, P. Đức Giang, Q. Long Biên, Hà Nội, Việt Nam</p>
            </div>
            <div class="representative-office text-14px">
                <p>Văn phòng đại diện: </p>
                <ul >
                    <li>
                        <p><b>TP.HCM:</b> Lầu 5, tòa nhà Qunimex, 28 Nguyễn Thị Diệu, P.6, Q3, TP.HCM, Việt Nam</p>
                    </li>
                    <li>
                        <p><b>Đà Nẵng:</b> 72C Nguyễn Hữu Thọ, P. Hòa Thuận Tây, Q. Hải Châu, TP. Đà Nẵng, Việt Nam</p>
                    </li>
                    <li>
                        <p><b>Hawaii:</b> 91-1034 Nahawele, Ewa Beach, HI96706, Mỹ</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-12 d-flex flex-column justify-between pr-0">
            <h4 class="text-30px ">HOTLINE</h4>
            <h4 class="text-36px">+84 2839305018</h4>
            <p class=" ">Email </p>
            <p> Ingo@themoderntouch.com</p>  
            <div class="icons d-flex">
                <a href="#" class="facebook mr-30px text-50px leading-none">
                    <i class="fab fa-facebook-square "></i>
                </a>
                <a href="#" class="instagram text-50px leading-none">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-12 d-flex flex-column justify-center px-0">
            <ul class="text-14px">
                <li class="mb-15px">Sitemap</li>
                <li class="mb-15px">Terms & Conditions</li>
                <li class="mb-15px">Privacy Policy</li>
                <li class="mb-15px">TMT@2019</li>
            </ul>
        </div>
    </div>
    <div class="container d-flex flex-wrap mt-50px">
        <div class="col-md-4 col-12">
            <a href="#" class="contact-us">
                CONTACT US
            </a>
        </div>
        <div class="col-md-8 col-12 menu-bottom">
            <ul class="d-flex flex-wrap">
                <li>
                    <a href="">HOME</a>
                </li>
                <li>
                    <a href="">SERVICE</a>
                </li>
                <li>
                    <a href="">PROJECTS</a>
                </li>
                <li>
                    <a href="">APPROACH</a>
                </li>
                <li>
                    <a href="">ABOUT US</a>
                </li>
                <li>
                    <a href="">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</footer>