.button_menu {
    white-space: nowrap;
    background-color: transparent;
    border: none;
    color: rgba(0,0,0,.85);
    padding: 6px 10px 6px 6px;
    text-align: left;
    text-decoration: none;
    display: block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 0px;
}
.button_menu_open {
    white-space: nowrap;
    padding: 6px 10px 6px 6px;
    text-align: left;
    text-decoration: none;
    display: block;
    font-size: 14px;
    /* font-weight: 600; */
    cursor: pointer;
    color: #1890ff !important;
    background-color: #e6f7ff;
    position: relative;
    border-right: 2px solid #1890ff;
}
.button_menu:hover {
    color: #1890ff !important;
}
