svg{
    vertical-align: middle
}
svg:not([fill]) {
    fill: currentColor
}

svg:not(:root) {
    overflow: hidden
}
#footer{
    margin: 0 10vw;
    padding: 70px 0;
    border-top: 1px solid #303030;
    .svg-logo {
        width: 88px;
        height: 30px;
        polygon {
            fill: #fff;
        }
    }
    .svg-logo polygon {
        fill: #fff
    }
    .footer-left{
        .footer-nav{
            width: auto;
            flex: 1 1;
            margin-left: 10% ;
            ul{
                li {
                    margin-bottom: 5px;
                    a{
                        white-space: nowrap;
                        font-size: 13px;
                        transition: color .35s cubic-bezier(.39,.575,.565,1) 0s;
                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }
            .footer-nav-list:not(:last-child) {
                margin-bottom: 1em;
            }
            .footer-nav-lists{
                margin-right: 10% ;
                &:hover li{
                    color: #868686; 
                }
                li{
                    color: #fff;
                    &:hover{
                        color: #868686;
                    }
                }
            }
            .footer-contact-list{
                color: #868686;
            }
        }
    }
    .footer-right{
        .copyright{
            color: #666;
            font-size: 15px;
            margin-right: 35px;
            vertical-align: baseline;
        }
        a{
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            position: relative;
            width: 120px;
            height: 60px;
            color: #101010;
            cursor: pointer;
            font-size: 15px;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #fff;
                z-index: -1;
                transition: background .65s cubic-bezier(.39,.575,.565,1) 0s,border .65s cubic-bezier(.39,.575,.565,1) 0s,-webkit-transform .65s cubic-bezier(.215,.61,.355,1) 0s;
                transition: transform .65s cubic-bezier(.215,.61,.355,1) 0s,background .65s cubic-bezier(.39,.575,.565,1) 0s,border .65s cubic-bezier(.39,.575,.565,1) 0s;
                transition: transform .65s cubic-bezier(.215,.61,.355,1) 0s,background .65s cubic-bezier(.39,.575,.565,1) 0s,border .65s cubic-bezier(.39,.575,.565,1) 0s,-webkit-transform .65s cubic-bezier(.215,.61,.355,1) 0s
            }
        }
        a:hover:after {
            -webkit-transform: scale(1.1);
            transform: scale(1.1)
        }
    }
}
@media only screen and (max-width: 1024px) {
    #footer{
        .svg-logo {
            width: 70px;
            height: 24px;
        }
    }
}
@media only screen and (max-width: 680px) {
    #footer{
        .svg-logo {
            width: 88px;
            height: 30px;
        }
    }
}
@media only screen and (max-width: 1024px) {
    #footer{
        .svg-logo {
            width: 70px;
            height: 24px
        }
    }
}