<section id="introduce" class="flex items-center ">
    <div class="swiper-main gallery-thumbs" style="width: 25%;">
        <div class="swiper-wrapper block">
            <div class="swiper-slide" >About us</div>
            <div class="swiper-slide" > What we do</div>
            <div class="swiper-slide" >Our team</div>
            <div class="swiper-slide" >What makes us different</div>
        </div>
        <div class="swiper-button-next d-none"></div>
        <div class="swiper-button-prev d-none"></div>
    </div>

    <div class="swiper-main gallery-top" >
        <div class="swiper-wrapper">
            <div class="swiper-slide panel-1 py-5">
                <div class="flex flex-col justify-center items-center">
                    <h5>HELLO!</h5>
                    <div class="line"></div>
                    <div class="content">
                        <p>Thành lập tại Việt Nam năm 2013, Công ty TNHH Xây dựng và Thiết kế Phong Cách Mới (The Modern Touch) được dẫn dắt
                            bởi kiến trúc sư người Mỹ gốc Việt Lê Quang Linh. Ông từng sinh sống, làm việc tại Hawaii và được biết đến là 
                            kiến trúc sư có hơn 20 năm kinh nghiệm phát triển nhiều dự án lớn như: khu dân cư, khu phức hợp thương mại, 
                            dự án cộng đồng, giáo dục, spa và khu nghỉ dưỡng cao cấp… tại Mỹ, Hồng Kông, Việt Nam… Điểm đặc biệt nổi trội 
                            của các công trình này là được thiết kế đạt chuẩn về công năng, tái tạo năng lượng và thân thiện với môi trường 
                            (LEED®AP).</p>
                        <p>Hiện tại, The Modern Touch/Phong Cách Mới có hơn 50 kiến trúc sư, kỹ sư, thiết kế, quản lý dự án…, 
                            tham gia nhiều dự án lớn tại các nước với nhiều vai trò: tư vấn thiết kế kiến trúc, triển khai, giám sát, 
                            quản lý dự án, xây dựng, quy hoạch, tái cấu trúc… Mỗi thành viên, dù ở vị trí nào, cũng đều tham gia vào toàn 
                            bộ quá trình xây dựng dự án, phát huy tốt nhất thế mạnh của mình để cùng tạo nên giá trị lớn hơn cho tập thể.
                        </p>
                        <p> Với thị trường trong nước, The Modern Touch/Phong Cách Mới muốn mang đến cho khách hàng hơi thở kiến trúc hiện đại 
                            nhưng vẫn tôn vinh những giá trị tinh thần truyền thống và dấu ấn thương hiệu, cá nhân riêng biệt. Điều này được 
                            thể hiện rất rõ qua các công trình dân dụng nổi bật mà The Modern Touch/Phong Cách Mới đã thực hiện như: 
                            TMS Hotel & Spa Đà Nẵng, Tri Việt Hội An Resort, Victoria Villa, Duplex và Penthouse, hệ thống Saigon Smile Spa, 
                            khách sạn Grand Mercure mở rộng, Anantara Resort, Saipan Resort, Super Villa Đà Nẵng… Tất cả đều nhận được sự hài lòng 
                            và tin tưởng tuyệt đối của khách hàng.
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide panel-2 py-5">
                <div class="flex flex-col justify-center items-center">
                    <h5>What <br/>we do</h5>
                    <div class="line"></div>
                    <div class="content">
                        <div class="swiper-what-we-do">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" >
                                    <p class="text-22px font-bold text-center mb-3">1. Architectural consulting</p>
                                    <p class="text-14px text-center">Tại The Modern Touch/Phong Cách Mới, kiến trúc là một trong những nền tảng chính để biến thế giới thành nơi tốt đẹp hơn. Chúng tôi tin rằng thiết kế kiến trúc vượt bậc chính là sự kết hợp giữa công năng hiệu quả và vẻ đẹp trường tồn. Mỗi ngày, các kiến trúc sư pha trộn những kỹ năng thiết kế đặc biệt, khả năng quản lý dự án vượt trội và tầm nhìn sáng tạo để tạo ra các công trình đáp ứng từng nhu cầu riêng biệt của khách hàng; đồng thời tạo ra tác động kinh tế, xã hội và môi trường tích cực lâu dài.</p>
                                </div>
                                <div class="swiper-slide">
                                    <p class="text-22px font-bold text-center mb-3">2. Interior design</p>
                                    <p class="text-14px text-center">Khi phát triển thiết kế nội thất, chúng tôi đảm bảo các chi tiết hoàn thiện bổ sung cho nhau, tạo ra các không gian lôi cuốn ánh nhìn và cảm xúc của người sử dụng. Thiết kế nội thất có một trọng tâm khác với kiến trúc bên ngoài, đó chính là chúng bổ sung cho nhau. Sự chuyển tiếp từ các vật liệu hoàn thiện nội thất cho phép chúng tôi phát triển nhiều ý tưởng táo bạo giao hòa và thấm nhuần cảm giác vui vẻ đầy cá tính.</p>
                                </div>
                                <div class="swiper-slide">
                                    <p class="text-22px font-bold text-center mb-3">3. Phân tích và khảo sát mặt bằng</p>
                                    <p class="text-14px text-center">Một mặt bằng tổng thể thành công được nhận định và chắt lọc từ những nghiên cứu phức tạp và tinh vi trong khuôn khổ văn hóa, xã hội, thể chất và kinh tế nhằm phát triển tổng thể dựa trên các bộ phận. Hơn nữa, mặt bằng tổng thể tuyệt vời tạo ra môi trường độc đáo, trong đó con người và thiên nhiên hòa hợp cùng nhau phát triển giữa bối cảnh thành thị hoặc nông thôn. Chúng tôi xem xét để đảm bảo rằng bất kỳ công trình hiện có nào đều sẽ được sử dụng hết tiềm năng. Khảo sát và phân tích giúp chúng tôi và khách hàng hiểu làm thế nào để sử dụng tốt nhất các cơ sở hiện có.</p>
                                </div>
                                <div class="swiper-slide">
                                    <p class="text-22px font-bold text-center mb-3">4. Cung cấp nguồn nhân lực</p>
                                    <p class="text-14px text-center">Chúng tôi cung cấp nhân sự chất lượng trong ngành kiến trúc nội thất - linh hoạt về thời gian, đảm bảo công việc thực hiện hiệu quả, giúp tiết kiệm chi phí, thời gian và nguồn lực cho các doanh nghiệp.</p>
                                </div>
                                <div class="swiper-slide">
                                    <p class="text-22px font-bold text-center mb-3">5. Quản lý chất lượng</p>
                                    <p class="text-14px text-center">Chúng tôi kiểm tra chất lượng các mặt hàng theo quy trình và hệ thống chuẩn, đảm bảo đầy đủ các tiêu chí kiểm hàng, xử lý lỗi và đưa ra hướng giải quyết tốt nhất nhằm đáp ứng nhu cầu tối đa của khách hàng một cách hiệu quả.</p>
                                </div>
                            </div>
                            <div class="flex position-absolute " style="width: 100%;">
                                <div class="group mx-auto">
                                    <div class="btn-wwd-prev text-40px">&#8592;</div>
                                    <div class="swiper-pagination mx-50px"></div>
                                    <div class="btn-wwd-next text-40px">&#8594;</div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide panel-3 py-5 pl-70px">
                <div class="flex flex-col justify-center">
                    <h5>OUR TEAM</h5>
                    <div class="line"></div>
                    <div class="content mt-5" >
                        <div class="swiper-our-team">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" >
                                    <div class="flex items-end w-9-12">
                                        <img src="{{ img('Rectangle -1.jpg') }}" width="100%" height="100%" />
                                        <div class="flex flex-col justify-center ml-50px">
                                            <p class="text-14px">Tiến sĩ,  Kiến trúc sư</p>
                                            <p class="text-20px" style="color: #F36F21;">LÊ QUANG LINH</p>
                                            <div class="content-item text-14px mt-5">
                                                <p>-Giám đốc điều hành Công ty Xây dựng và thiết kế Phong Cách Mới (The Modern Touch), một trong những công ty tiên phong về Revit trong khai triển thiết kế không chỉ ở Việt Nam mà cả khu vực châu Á.</p>
                                                <p>- Từng sinh sống và làm việc tại Hawaii, Mỹ.</p>
                                                <p>- Hơn 20 năm kinh nghiệm phát triển các dự án lớn, bao gồm: khu dân cư, khu phức hợp thương mại, dự án cộng đồng, giáo dục, spa và khu nghỉ dưỡng cao cấp tại Mỹ, Hồng Kông, Việt Nam… với nhiều vai trò: tư vấn thiết kế kiến trúc, triển khai, giám sát, quản lý dự án, xây dựng, quy hoạch, tái cấu trúc… - Kiến trúc sư duy nhất ở Việt Nam hiện nay có chứng chỉ về “Kiến trúc xanh” tại Mỹ.</p>
                                                <p>- Một số công trình tiêu biểu đã tham gia: TMS Hotel & Spa Đà Nẵng, Tri Việt Hội An Resort, Victoria Villa, Duplex và Penhouse, hệ thống Saigon Smile Spa, khách sạn Grand Mercure mở rộng…</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="flex flex-wrap ">
                                        <div class="item md:w-1-4 w-full px-2">
                                            <img src="{{ img('Rectangle -2.jpg') }}" class="w-4-5" />
                                            <div class="content-item text-14px">
                                                <p>Giám đốc chi nhánh</p>
                                                <p class="text-20px mb-20px" style="color: #F36F21;">Đoàn Cao Sơn</p>
                                                <b>Kinh nghiệm:</b>
                                                <p>10 năm quản lý dự án<br/>
                                                    10 năm chuyên viên thiết kế</p>
                                                <b>Kỹ năng:</b>
                                                <p>Quản lý dự án, 3Dxmas, Autocad, Photoshop, Microsoft Office</p>
                                            </div>
                                        </div>
                                        <div class="item md:w-1-4 w-full px-2">
                                            <img src="{{ img('Rectangle -3.jpg') }}" class="w-4-5" />
                                            <div class="content-item text-14px">
                                                <p>Giám đốc nhân sự</p>
                                                <p class="text-20px mb-20px" style="color: #F36F21;">Nguyễn Vũ Nguyệt Minh</p>
                                                <b>Kinh nghiệm:</b>
                                                <p>Hơn 10 năm làm công tác Quản trị nhân sự với các vị trí: Ee Relations, Senior HR, HR manager</p>
                                                <b>Kỹ năng:</b>
                                                <p>Tổ chức và giám sát; quản lý và lập kế hoạch; giao tiếp tốt và cực kỳ kiên nhẫn.</p>
                                            </div>
                                        </div>
                                        <div class="item md:w-1-4 w-full px-2">
                                            <img src="{{ img('Rectangle -4.jpg') }}" class="w-4-5" />
                                            <div class="content-item text-14px">
                                                <p>Quản lý dự án</p>
                                                <p class="text-20px mb-20px" style="color: #F36F21;">Cao Lữ Thanh Phong</p>
                                                <b>Kinh nghiệm:</b>
                                                <p>5 năm Quản lý dự án (The Modern Touch)<br/>
                                                    4 năm Trưởng nhóm dự án (Atlas Industries)
                                                </p>
                                                <b>Kỹ năng:</b>
                                                <p>Quản lý dự án, Autodesk Software (Revit, Autocad…), Microsoft Office.</p>
                                            </div>
                                        </div>
                                        <div class="item md:w-1-4 w-full px-2">
                                            <img src="{{ img('Rectangle -5.jpg') }}" class="w-4-5" />
                                            <div class="content-item text-14px">
                                                <p>Quản lý dự án</p>
                                                <p class="text-20px mb-20px" style="color: #F36F21;">Hoàng Thanh Linh</p>
                                                <b>Kinh nghiệm:</b>
                                                <p class="">15 năm quản lý dự án, quản lý thiết kế, giám sát công trình.</p>
                                                <b>Kỹ năng:</b>
                                                <p>Quản lý dự án, lãnh đạo, tư duy phản biện, Autodesk Software (Revit, Autocad…), Microsoft Office.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex position-absolute mt-40px" style="width: 100%;">
                                <div class="group mx-auto flex">
                                    <div class="btn-ot-prev position-relative text-40px text-black mr-40px">&#8592;</div>
                                    <div class="btn-ot-next position-relative text-40px text-black ml-40px">&#8594;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide panel-4 py-5">
                other info
            </div>
        </div>
    </div>
</section>

<script>
    var galleryThumbs = new Swiper('.gallery-thumbs', {
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesVisibility: true,
        watchSlidesProgress: true,
    });
    
    var galleryTop = new Swiper('.gallery-top', {
        spaceBetween: 10,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        thumbs: {
            swiper: galleryThumbs
        }
    });

    var swiper = new Swiper('.swiper-what-we-do', {
        // effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        spaceBetween: 100,
        navigation: {
            nextEl: '.btn-wwd-next',
            prevEl: '.btn-wwd-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            type: 'fraction',
        },
    });
    // var swiper = new Swiper('.swiper-our-team', {
    //     // grabCursor: true,
    //     loop: true,
    //     centeredSlides: true,
    //     slidesPerView: 'auto',
    //     navigation: {
    //         nextEl: '.btn-ot-next',
    //         prevEl: '.btn-ot-prev',
    //     },
    // });
</script>