<section id="feature-project">
    <div class="content-top">
        <p class="mr-4" style="color: rgba(0, 0, 0, 0.5);">Các công trình đã thực hiện</p>
        <div class="line"></div>
    </div>
    <div class="projects-slide-main">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide-main">
                <div class="tay-ho-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="{{ img('feature-project-1.jpg') }}" class="w-100 h-100" />
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ img('feature-project-2.jpg') }}" class="w-100 h-100"  />
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ img('feature-project-3.jpg') }}" class="w-100 h-100"  />
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="flex items-center justify-end">
                    <p class="text-14px text-gray-500" >FEATURE PROJECT</p>
                    <div class="line bg-black mx-30px" style="width: 1px; height: 13px;"></div>
                    <p class="text-14px">All projects</p>
                    <a href="#" class="all-project bg-black ml-30px" style="width: 40px; height: 40px;"></a>
                </div>
                <div class="flex flex-wrap px-70px mt-50px">
                    <div class="w-1-3 flex items-stretch">
                        <div class="w-1-2">
                            <h4 class="text-40px font-bold border-b-2 border-orange-1 w-auto inline-block">TAY HO</h4>
                            <p class="text-30px mb-30px">OFFICE</p>
                            <a href="#" class="px-50px py-15px border border-black hover:border-orange-1 hover:bg-orange-1 hover:text-white" style="transition: all 0.2s" >See more</a>
                        </div>
                        <div class="w-px bg-gray-500 mx-auto"></div>
                        
                    </div>
                    <div class="w-1-3">
                        <div class="w-50px h-2px bg-orange-1"></div>
                        <div class="text-16px mt-20px">
                            <p><b>KHÁCH HÀNG:</b> NDH Company</p>
                            <p><b>ĐỊA ĐIỂM:</b> Tây Hồ, Hà Nội</p>
                            <p><b>PHONG CÁCH: </b> Hiện đại, Á Đông đương đại</p>
                        </div>
                    </div>
                    <div class="w-1-3">
                        <div class="w-50px h-2px bg-orange-1"></div>
                        <div class="text-16px mt-20px">
                            <p><b>DIỆN TÍCH LÔ ĐẤT: </b> 1.441 m2</p>
                            <p><b>DIỆN TÍCH XÂY DỰNG:</b> 1.105 m2</p>
                            <p><b>KHU CÔNG CỘNG/HỒ BƠI:  </b> 148 m2 </p>
                            <p><b>CHIỀU CAO: </b> 9,3 m</p>
                            <p><b>SỐ TẦNG: </b> 2 tầng</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide slide-main">
                <div class="sala-slider">
                    <div class="swiper-wrapper flex items-stretch">
                        <div class="swiper-slide">
                            <img src="{{ img('salla-1.jpg') }}" class="w-100 h-100" />
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ img('feature-project-1.jpg') }}" class="w-100 h-100"  />
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ img('salla-2.jpg') }}" class="w-100 h-100"  />
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="flex items-center justify-end">
                    <p class="text-14px text-gray-500" >FEATURE PROJECT</p>
                    <div class="line bg-black mx-30px" style="width: 1px; height: 13px;"></div>
                    <p class="text-14px">All projects</p>
                    <a href="#" class="all-project bg-black ml-30px" style="width: 40px; height: 40px;"></a>
                </div>
                <div class="flex flex-wrap px-70px mt-50px">
                    <div class="w-1-3 flex items-stretch">
                        <div class="w-1-2">
                            <h4 class="text-40px font-bold border-b-2 border-orange-1 w-auto inline-block">SALA</h4>
                            <p class="text-30px mb-30px">VILLA</p>
                            <a href="#" class="px-50px py-15px border border-black hover:border-orange-1 hover:bg-orange-1 hover:text-white" style="transition: all 0.2s" >See more</a>
                        </div>
                        <div class="w-px bg-gray-500 mx-auto"></div>
                        
                    </div>
                    <div class="w-1-3">
                        <div class="w-50px h-2px bg-orange-1"></div>
                        <div class="text-16px mt-20px">
                            <p><b>KHÁCH HÀNG:</b> Ms. Võ Ngọc Thúy</p>
                            <p><b>ĐỊA ĐIỂM:</b> Quận 2, Tp  Hồ Chí Minh</p>
                            <p><b>PHONG CÁCH: </b> Hiện đại</p>
                        </div>
                    </div>
                    <div class="w-1-3">
                        <div class="w-50px h-2px bg-orange-1"></div>
                        <div class="text-16px mt-20px">
                            <p><b>DIỆN TÍCH LÔ ĐẤT: </b> 331.13 m2</p>
                            <p><b>DIỆN TÍCH XÂY DỰNG:</b> 733.581 m2</p>
                            <p><b>CHIỀU CAO: </b> 15 m</p>
                            <p><b>SỐ TẦNG: </b> 4 tầng, 1 tầng hầm</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide slide-main">
                <div class="risemout-slider">
                    <div class="swiper-wrapper flex items-stretch">
                        <div class="swiper-slide">
                            <img src="{{ img('feature-project-1.jpg') }}" class="w-100 h-100" />
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ img('feature-project-2.jpg') }}" class="w-100 h-100"  />
                        </div>
                        <div class="swiper-slide">
                            <img src="{{ img('feature-project-3.jpg') }}" class="w-100 h-100"  />
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="flex items-center justify-end">
                    <p class="text-14px text-gray-500" >FEATURE PROJECT</p>
                    <div class="line bg-black mx-30px" style="width: 1px; height: 13px;"></div>
                    <p class="text-14px">All projects</p>
                    <a href="#" class="all-project bg-black ml-30px" style="width: 40px; height: 40px;"></a>
                </div>
                <div class="flex flex-wrap px-70px mt-50px">
                    <div class="w-1-3 flex items-stretch">
                        <div class="w-1-2">
                            <h4 class="text-40px font-bold border-b-2 border-orange-1 w-auto inline-block">RISEMOUT</h4>
                            <p class="text-30px mb-30px">PENHOUSE</p>
                            <a href="#" class="px-50px py-15px border border-black hover:border-orange-1 hover:bg-orange-1 hover:text-white" style="transition: all 0.2s" >See more</a>
                        </div>
                        <div class="w-px bg-gray-500 mx-auto"></div>
                        
                    </div>
                    <div class="w-1-3">
                        <div class="w-50px h-2px bg-orange-1"></div>
                        <div class="text-16px mt-20px">
                            <p><b>KHÁCH HÀNG:</b> Vicoland Group</p>
                            <p><b>ĐỊA ĐIỂM:</b> Hải Châu, Đà Nẵng</p>
                            <p><b>PHONG CÁCH: </b> Tân cổ điển</p>
                        </div>
                    </div>
                    <div class="w-1-3">
                        <div class="w-50px h-2px bg-orange-1"></div>
                        <div class="text-16px mt-20px">
                            <p><b>DIỆN TÍCH LÔ ĐẤT: </b> 407 m2</p>
                            <p><b>CHIỀU CAO: </b> 4,5 m</p>
                            <p><b>SỐ TẦNG: </b> 1 tầng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="position-absolute w-auto flex items-center ml-70px mt-50px" >
            <div class="btn-main-prev position-relative w-auto text-50px ">&#8592;</div>
            <div class="fraction-main position-relative w-auto text-26px mx-25px" style="bottom: 0;"></div>
            <div class="btn-main-next position-relative w-auto text-50px">&#8594;</div>
        </div>
    </div>
</section>
<script>

    var slideMain = new Swiper('.projects-slide-main', {
       
        // cssMode: true,
        effect: 'fade',
        navigation: {
            nextEl: '.btn-main-next',
            prevEl: '.btn-main-prev',
        },
        pagination: {
            el: '.fraction-main',
            type: 'fraction',
        },
        // mousewheel: true,
        // keyboard: true
    });

    var tayHoSlider = new Swiper('.tay-ho-slider', {
        cssMode: true,
        loop: true,
        pagination: {
            el: '.swiper-pagination',
            type: 'progressbar',
        },
        grabCursor: true,
    });

    var salaSlider = new Swiper('.sala-slider', {
        cssMode: true,
        loop: true,
        pagination: {
            el: '.swiper-pagination',
            type: 'progressbar',
        },
        grabCursor: true,
    });

    var risemoutSlider = new Swiper('.risemout-slider', {
        cssMode: true,
        loop: true,
        pagination: {
            el: '.swiper-pagination',
            type: 'progressbar',
        },
        grabCursor: true,
    });
  </script>