<section class="concept">
    <div class="d-flex align-items-center justify-content-between">
        <div class="concept-left col-md-6 col-12">
            <p class="theme">Concept</p>
            <h2 class="title">The meaning of Tradition</h2>
            <p class="content">
                MASS Series “SUMI LIMITED”は、阿蘇の風物詩 “野焼き”によって生まれる「黒墨色」の景観にインスパイアされた炭化した杉材と、スチールフレームによる、異素材のコントラストをテーマにしたコレクションです。
            </p>
            <a class="link-read" >
                <span class="circle"></span>
                <span class="txt">Read more</span>
            </a>
        </div>
        <div class="concept-right p-0">
            <div class="img-detail">
                <img src="./assets/images/thumb/home-concept-s.jpg.webp" />
            </div>
            <div class="content">
                <img src="./assets/images/thumb/home-concept-l.jpg.webp" />
            </div>
        </div>
    </div>
</section>