<section class="header-slider">
    <div id="sliderHeader" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#sliderHeader" data-slide-to="0" class="active"></li>
            <li data-target="#sliderHeader" data-slide-to="1"></li>
            <li data-target="#sliderHeader" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item firstSlide active"></div>
            <div class="carousel-item secondSlide"></div>
            <div class="carousel-item thirdSlide"></div>
        </div>
    </div>
    <div class="content-headerSlide">
        <p class="title">SUMI</p>
        <p class="content">What does it mean to<br/> have a fulfilling life?</p>
    </div> 
</section>