<section class="story">
    <div class="d-flex align-items-center justify-content-between">
        
        <div class="story-right p-0">
            <div class="img-detail">
                <img src="./assets/images/thumb/home-story-s.jpg.webp" />
            </div>
            <div class="content">
                <img src="./assets/images/thumb/story-hero.jpg.webp" />
            </div>
        </div>
        <div class="story-left col-md-6 col-12">
            <p class="theme">Story</p>
            <h2 class="title">Why we do</h2>
            <p class="content">
                What is a full life?" FIL's efforts begin by asking. We will look at Aso's tradition, which has a history of 1000 years, and explore the optimum materials, functions, and shapes.
            </p>
            <a class="link-read" >
                <span class="circle"></span>
                <span class="txt">Read more</span>
            </a>
        </div>
    </div>
</section>